<template>
  <div>
    <table class="table table-bordered w-20" style="width:60%" align="center">
      <tr>
        <th>번호</th>
        <td>{{ item.noticeId }}</td>
      </tr>
      <tr>
        <th>글쓴이</th>
        <td>{{ item.userName }}</td>
      </tr>
      <tr>
        <th>제목</th>
        <td>{{ item.title }}</td>
      </tr>
      <tr>
        <th>날짜</th>
        <td>{{ getFormatDate(item.regDt) }}</td>
      </tr>
      <tr>
        <td colspan="2">{{ item.content }}</td>
      </tr>
    </table>

    <br />
    <div class="text-center">
      <router-link to="/Notice">
        <button class="btn btn-primary">목록</button>
      </router-link>
      <router-link :to="'/update?noticeId=' + item.noticeId">
        <button class="btn btn-primary">수정</button>
      </router-link>
      <router-link :to="'/delete?noticeId=' + item.noticeId">
        <button class="btn btn-primary">삭제</button>
      </router-link>
    </div>
  </div>
</template>

<script>
import moment from "moment";
import { mapGetters } from "vuex";
export default {
  name: "detail",
  computed: {
    ...mapGetters(["item"])
    
  },
  methods: {
    getFormatDate(regtime) {
      return moment(new Date(regtime)).format("YYYY.MM.DD HH:mm:ss");
    }
  }
};
</script>