<template>
  <div style="width: 60%" class="aligncenter">
    <div class="form-group">
      <label for="title" class="alignleft">제목</label>
      <input
        type="text"
        class="form-control"
        id="title"
        ref="title"
        placeholder="제목을 입력하세요"
        v-model="title"
      />
    </div>
    <div class="form-group">
      <label for="content" class="alignleft">내용</label>
      <textarea
        rows="10"
        type="text"
        class="form-control"
        id="contnet"
        ref="content"
        placeholder="내용을 입력하세요"
        v-model="content"
      ></textarea>
    </div>
    <div class="text-right">
      <button class="btn btn-primary" v-if="type == 'create'" @click="checkHandler">등록</button>
      <button class="btn btn-primary" v-else @click="checkHandler">수정</button>
      <button class="btn btn-primary" @click="moveList">목록</button>
    </div>
  </div>
</template>

<script>
import http from "@/util/http-common";
import { now } from 'moment';
export default {
  name: "board-Form",
  props: {
    type: { type: String }
  },
  data: function() {
    return {
      noticeId: "",
      title: "",
      content: "",
      userName: "",
      regDt: "",
      readCount: ""
    };
  },
  methods: {
    checkHandler() {
      let err = true;
      let msg = "";
      !this.title &&
        ((msg = "제목 입력해주세요"), (err = false), this.$refs.title.focus());
      err &&
        !this.content &&
        ((msg = "내용 입력해주세요"),
        (err = false),
        this.$refs.content.focus());

      if (!err) alert(msg);
      else this.type == "create" ? this.createHandler() : this.updateHandler();
    },
    createHandler() {
      console.log(this.$store.state.userInfo.id);
      console.log(this.title);
      console.log(this.content);
      http
        .post("/notice", {
          userName: this.$store.state.userInfo.id,
          title: this.title,
          content: this.content,
          regDt: now()
        })
        .then(({ data }) => {
          let msg = "등록 처리시 문제가 발생했습니다.";
          if (data === "success") {
            msg = "등록이 완료되었습니다.";
          }
          alert(msg);
          this.moveList();
        })
        .catch(() => {
          alert("등록 처리시 에러가 발생했습니다.");
        });
    },
    updateHandler() {
      console.log(this.noticeId);
      http
        .put(`/notice/${this.$route.query.noticeId}`, {
          noticeId: this.noticeId,
          title: this.title,
          content: this.content,
          regDt: now()
        })
        .then(({ data }) => {
          console.log(data);
          let msg = "수정 처리시 문제가 발생했습니다.";
          if (data === "success") {
            msg = "수정이 완료되었습니다.";
          }
          alert(msg);
          this.moveList();
        })
        .catch(() => {
          console.log(this.title);
          alert("수정 처리시 에러가 발생했습니다.");
        });
    },
    moveList() {
      this.$router.push("/Notice");
    }
  },
  created() {
    if (this.type === "update") {
      http
        .get(`/notice/${this.$route.query.noticeId}`)
        .then(({ data }) => {
          this.noticeId = data.noticeId;
          this.title = data.title;
          this.content = data.content;
          this.userName = data.userName;
          this.regDt = data.regDt;
          this.readCount = data.readCount;
        })
        .catch(() => {
          alert("에러가 발생했습니다.");
        });
    }
  }
};
</script>

<style scoped></style>
