<template>
  <!-- footer start -->
  <footer>
    <!-- footer top area start -->
    <div id="footer" class="footer-top-area">
      <div class="container">
        <div class="row">
          <div class="col-sm-4 col-xs-12">
            <div class="footer-heading">
              <h2>About Us</h2>
              <p>
                SSAFY 3기 서울지역 7반에서 김대섭 교수님에게 웹 개발 교육을 받고 있는 교육생입니다.
              </p>
              
              <div class="footer-social-icons">
                <ul>
                  <li>
                    <a href="#"><i class="fa fa-facebook"></i></a>
                  </li>
                  <li>
                    <a href="#"><i class="fa fa-twitter"></i></a>
                  </li>
                  <li>
                    <a href="#"><i class="fa fa-linkedin"></i></a>
                  </li>
                  <li>
                    <a href="#"><i class="fa fa-google-plus"></i></a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-sm-4 col-xs-12">
            <div class="footer-heading heading-margin">
              <h2>Developers</h2>
              <div class="sweet-home sweet-home-margin">
                <div class="media">
                  <a class="pull-left" href="#">
                    <img src="img/footer1.jpg" alt="" />
                  </a>
                  <div class="media-body">
                    <h4 class="media-heading"><a href="#">Junsoo Park</a>
                    </h4>
                    <p>web programmer</p>
                  </div>
                </div>
              </div>
              <div class="sweet-home sweet-home-margin">
                <div class="media">
                  <a class="pull-left" href="#">
                    <img src="img/footer2.jpg" alt="" />
                  </a>
                  <div class="media-body">
                    <h4 class="media-heading"><a href="#">Yuchang Kim</a></h4>
                    <p>web programmer</p>
                  </div>
                </div>
              </div>
              <div class="sweet-home">
                <div class="media">
                  <a class="pull-left" href="#">
                    <img src="img/footer3.jpg" alt="" />
                  </a>
                  <div class="media-body">
                    <h4 class="media-heading"><a href="#">Evan You</a></h4>
                    <p>software developer </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-4 col-xs-12">
            <div class="footer-heading">
              <h2>Get In Touch</h2>
              <p class="footer-border-bottom">
                <i class="fa fa-map-marker"></i>212 Teheran-ro, Gangnam-gu, Seoul
              </p>
              <p class="footer-border-bottom">
                <i class="fa fa-phone"></i>1588 3357
              </p>
              <p class="footer-border-bottom">
                <i class="fa fa-envelope"></i>oyes9316@ssafy.com / junsoodark@ssafy.com
              </p>
              <p><i class="fa fa-fax"></i>02 6262 9125</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="footer-border-area"></div>
    <div class="footer-bottom-area">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="footer-bottom text-center">
              <p>
                <a href="https://digitalcenturysf.com/">Copyright 2020. SSAFY. All rights reserved.</a>
                Made by Vue CLI
                <a class="credits" href="https://digitalcenturysf.com/templates/">Best WordPress Themes</a>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>
  <!-- Footer end -->
</template>
<script>
export default {
  name: "MainFooter"
};
</script>
<style></style>
