<template>
  <div>
    <!-- Header start -->
    <header>
      <!-- Header area start -->
      <div id="header" class="header-area">
        <div id="sticker" class="header-bottom-area">
          <div class="container">
            <div class="row">
              <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
                <!-- logo start -->
                <div class="logo">
                  <!-- <router-link to="/">
                    <img src="img/logo.png" alt="Logo" />
                  </router-link>-->
                  <a href="index.html">
                    <img src="img/logo.png" alt="Logo" />
                  </a>
                </div>
              </div>
              <div class="col-lg-9 col-md-7 col-sm-12 col-xs-12">
                <!-- menu-area start -->
                <div class="main-menu">
                  <nav>
                    <ul id="nav">
                      <!-- <li>
                      <router-link to="/">Home</router-link>

                      <a href="index.html">Home</a>
                      </li>-->
                      <li>
                        <router-link to="/About">About</router-link>

                        <!-- <a href="about.html">About</a> -->
                      </li>
                      <li>
                        <router-link to="/Notice">Notice</router-link>

                        <!-- <a href="Properties.html">Properties</a>
                       <ul>
                        <li>
                          <a href="single-agents.html">Single Agents</a>
                        </li>
                        </ul>-->
                      </li>
                      <li>
                        <router-link to="/Service">Service</router-link>
                        <!-- <a href="agents.html">Service</a>
                      <ul>
                        <li>
                          <a href="single-agents.html">Single Agents</a>
                        </li>
                        </ul>-->
                      </li>
                      <!-- <li>
                      <a href="blog.html">Blog</a>
                      <ul>
                        <li>
                          <a href="single-blog.html">Single Blog</a>
                        </li>
                      </ul>
                      </li>-->
                      <!-- <li>
                      <a href="contact.html">Contact</a>
                      </li>-->
                      <li class="login" v-if="!this.$store.state.isLogin">
                        <router-link to>
                          <div @click="openModalJoin">Join</div>
                        </router-link>
                        <ModalJoin @close="closeModalJoin" v-if="modalJoin">
                          <h3>회원 가입</h3>
                          <form class="register-form">
                            <input v-model="id" type="text" placeholder="id" required />
                            <input v-model="password" type="password" placeholder="password" required />
                            <input v-model="name" type="text" placeholder="name" />
                            <input v-model="address" type="text" placeholder="address" />
                            <input v-model="phone" type="text" placeholder="phone" />
                            <input v-model="question" type="text" placeholder="question" />
                            <input v-model="answer" type="text" placeholder="answer" />
                            <button @click="goJoin">create</button>
                            <p class="message">
                              Already registered?
                              <a @click="openModal">Sign In</a>
                            </p>
                          </form>
                        </ModalJoin>
                      </li>
                      <li class="login">
                        <a
                          v-if="this.$store.state.isLogin"
                          @click="openModalMyPage"
                        >{{this.$store.state.userInfo.name}}님 My page</a>
                        &emsp;&emsp;&emsp;&emsp;
                        <ModalJoin @close="closeModalMyPage" v-if="modalMyPage">
                          <h3>정보 수정</h3>
                          <form class="register-form">
                            <input v-model="id" type="text" placeholder="id" />
                            <input v-model="password" type="password" placeholder="password" />
                            <input v-model="name" type="text" placeholder="name" />
                            <input v-model="address" type="text" placeholder="address" />
                            <input v-model="phone" type="text" placeholder="phone" />
                            <input v-model="question" type="text" placeholder="question" />
                            <input v-model="answer" type="text" placeholder="answer" />
                            <button @click="goUpdate">수정</button>
                            <div id="space"></div>
                            <button @click="goDelete">탈퇴</button> 
                          </form>
                        </ModalJoin>
                        <!-- Mypage modal end -->

                        <!-- <button @click="openModal">Login</button> -->
                        <router-link to v-if="!this.$store.state.isLogin">
                          <div @click="openModal">Login</div>
                        </router-link>
                        <router-link to v-else>
                          <div @click="goLogout">Logout</div>
                        </router-link>
                        <!-- 컴포넌트 MyModal -->
                        <MyModal @close="closeModal" v-if="modal">
                          <div class="form">
                            <form class="login-form">
                              <input v-model="id" type="text" placeholder="username" required />
                              <input v-model="password" type="password" placeholder="password" required />
                              <button @click="goLogin">login</button>
                              <p class="message">
                                Not registered?
                                <a @click="openModalJoin">Create an account</a>
                              </p>
                            </form>
                          </div>
                        </MyModal>
                        <!-- <a href="contact.html">Login</a> -->
                      </li>
                    </ul>
                  </nav>
                </div>
              </div>
              <!-- <div class="col-lg-3 col-md-3 hidden-sm hidden-xs"> 
              <div class="header-search">
                <form id="search-form" action="#" method="get">
                  <button type="submit" title="Go" class="search-btn">
                    <i class="fa fa-search"></i>
                  </button>
                  <input type="text" name="search-text" placeholder="Search here..." />
                </form>
              </div>
              </div>-->
            </div>
          </div>
        </div>
      </div>
      <div class="mobile-menu-area">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <div class="mobile-menu">
                <nav id="dropdown">
                  <ul>
                    <li>
                      <a href="index.html">Home</a>
                    </li>
                    <li>
                      <a href="about.html">About</a>
                    </li>
                    <li>
                      <a href="Properties.html">Properties</a>
                      <ul>
                        <li>
                          <a href="single-Properties.html">Single Properties</a>
                        </li>
                      </ul>
                    </li>
                    <li>
                      <a href="agents.html">Agents</a>
                      <ul>
                        <li>
                          <a href="single-agents.html">Single Agents</a>
                        </li>
                      </ul>
                    </li>
                    <li>
                      <a href="blog.html">Blog</a>
                      <ul>
                        <li>
                          <a href="single-blog.html">Single Blog</a>
                        </li>
                      </ul>
                    </li>
                    <li>
                      <a href="contact.html">Contact</a>
                    </li>
                  </ul>
                </nav>
              </div>
            </div>
          </div>
        </div>
      </div>
    </header>
    <!-- Header end -->
  </div>
</template>

<script>
import MyModal from "@/components/MyModal.vue";
import ModalJoin from "@/components/MyModal_Join.vue";
export default {
  components: { MyModal, ModalJoin },
  data() {
    return {
      modal: false,
      modalJoin: false,
      modalMyPage: false,
      message: "",
      id: "",
      password: "",
      name: "",
      address: "",
      phone: "",
      question: "",
      answer: ""
    };
  },
  methods: {
    openModal() {
      this.modalJoin = false;
      this.modal = true;
    },
    openModalJoin() {
      this.modal = false;
      this.modalJoin = true;
    },
    openModalMyPage() {
      this.modalMyPage = true;
      this.id = this.$store.state.userInfo.id;
      this.password = this.$store.state.userInfo.password;
      this.name = this.$store.state.userInfo.name;
      this.address = this.$store.state.userInfo.address;
      this.phone = this.$store.state.userInfo.phone;
      this.question = this.$store.state.userInfo.question;
      this.answer = this.$store.state.userInfo.answer;
    },
    closeModal() {
      this.modal = false;
    },
    closeModalJoin() {
      this.modalJoin = false;
    },
    closeModalMyPage() {
      this.modalMyPage = false;
    },
    doSend() {
      if (this.message.length > 0) {
        alert(this.message);
        this.message = "";
        this.closeModal();
      } else {
        alert("메시지를 입력해주세요.");
      }
    },
    goLogin() {
      this.$store.dispatch("login", { id: this.id, password: this.password });
      this.modal = false;
      this.id = "";
      this.password = "";
      // 오류 코드
      // store 의 commit 발생 전에 router.push 먼저 수행됨 (router 이동 후 store 변경됨)
      // store.dispatch('login', { userId: this.userId, pwd: this.pwd })
      // console.log(10)
      // router.push('/About')
      // console.log(11)
    },
    goLogout() {
      this.$store.dispatch("logout", { url: "/" });
    },
    goJoin() {
      this.$store.dispatch("join", {
        id: this.id,
        password: this.password,
        name: this.name,
        address: this.address,
        phone: this.phone,
        question: this.question,
        answer: this.answer,
        url: "/"
      });
      this.modalJoin = false;
      this.id = "";
      this.password = "";
      this.name = "";
      this.address = "";
      this.phone = "";
      this.question = "";
      this.answer = "";
    },
    goUpdate() {
      this.$store.dispatch("update", {
        id: this.id,
        password: this.password,
        name: this.name,
        address: this.address,
        phone: this.phone,
        question: this.question,
        answer: this.answer
      });
      this.modalMyPage = false;
      this.id = "";
      this.password = "";
      this.name = "";
      this.address = "";
      this.phone = "";
      this.question = "";
      this.answer = "";
    },
    goDelete() {
      this.$store.dispatch("delete", {
        id: this.id,
        url: "/"
      });
      this.modalMyPage = false;
      this.id = "";
      this.password = "";
      this.name = "";
      this.address = "";
      this.phone = "";
      this.question = "";
      this.answer = "";
    }
  }
};
</script>
<style>
.login {
  float: right;
}
@import url("https://fonts.googleapis.com/css?family=Roboto:300");

.form {
  position: relative;
  z-index: 1;
  background: #ffffff;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.form input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}

.form button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #6E6E6E;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #ffffff;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}

.form button:hover,
.form button:active,
.form button:focus {
  background: #424242;
}

.form .message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 12px;
}

.form .message a {
  color: #4caf50;
  text-decoration: none;
}
#space{
  margin-bottom: 10px;
}
</style>
