<template>
  <tr>
    <td>{{ notice_Id }}</td>
    <td>
      <router-link :to="`/read?noticeId=${notice_Id}`">{{ title }}</router-link>
    </td>
    <td>{{ user_Name }}</td>
    <td>{{ getFormatDate(reg_Dt) }}</td>
    <td>{{ read_Count }}</td>
  </tr>
</template>

<script>
import moment from "moment";
export default {
  name: "row",
  props: {
    notice_Id: { type: Number },
    title: { type: String },
    user_Name: { type: String },
    reg_Dt: { type: String },
    read_Count: { type: Number }
  },
  methods: {
    getFormatDate(regtime) {
      return moment(new Date(regtime)).format("YYYY.MM.DD");
    }
  }
};
</script>