<template>
  <div>
    <input type="checkbox" id="checkbox1" value="1" checked="checked" />
    <label for="checkbox1">Option 1</label>
    <input type="checkbox" id="checkbox2" value="2" checked="checked" />
    <label for="checkbox2">Option 2</label>
    <input type="checkbox" id="checkbox3" value="3" checked="checked" />
    <label for="checkbox3">Option 3</label>
    <input type="checkbox" id="checkbox4" value="4" checked="checked" />
    <label for="checkbox4">Option 4</label>
  </div>
</template>
<script>
</script>
<style scoped>

</style>