<template>
  <div class="map_wrap">
    <div id="map" class="container"></div>
    <div class="custom_typecontrol radius_border">
      <span id="mapTypeTraffic" class="_btn" v-on:click="setOverlayMapTypeId('traffic')">교통정보</span>
      <span id="mapTypeRoadview" class="_btn" v-on:click="setOverlayMapTypeId('roadview')">도로정보</span>
      <span id="mapTypeTerrain" class="_btn" v-on:click="setOverlayMapTypeId('terrain')">지형정보</span>
      <span id="mapTypeUse_district" class="_btn" v-on:click="setOverlayMapTypeId('use_district')">지적편집도</span>
    </div>
    <div id="menu_wrap" class="bg_white" style="display:none">
      <ul id="placesList"></ul>
    </div>
  </div>
</template>
<script>
import { mapState } from "vuex";
import store from "@/store/store.js";
export default {
  name: "Map",
  data() {
    return {
      map: null,
      markers: [],
      overlays: [],
      currentTypeId: null,
      displayList: false
    };
  },
  computed: mapState(["geoList", "transactionList"]),
  watch: {
    geoList: function() {
      this.addMarker(this.geoList);
    }
  },
  mounted() {
    window.kakao && window.kakao.maps ? this.initMap() : this.addScript();
  },

  update() {
    this.addMarker(this.geoList);
  },

  methods: {
    initMap() {
      let container = document.getElementById("map");
      let options = {
        center: new kakao.maps.LatLng(37.581305, 126.972694),
        level: 5
      };

      // 지도 생성
      this.map = new kakao.maps.Map(container, options);

      // 확대 축고 막기
      this.map.setZoomable(false);

      // 일반 지도와 스카이뷰로 지도 타입을 전환할 수 있는 지도타입 컨트롤을 생성합니다
      var mapTypeControl = new kakao.maps.MapTypeControl();

      // 지도에 컨트롤을 추가해야 지도위에 표시됩니다
      // kakao.maps.ControlPosition은 컨트롤이 표시될 위치를 정의하는데 TOPRIGHT는 오른쪽 위를 의미합니다
      this.map.addControl(mapTypeControl, kakao.maps.ControlPosition.TOPRIGHT);

      // 지도 확대 축소를 제어할 수 있는  줌 컨트롤을 생성합니다
      var zoomControl = new kakao.maps.ZoomControl();
      this.map.addControl(zoomControl, kakao.maps.ControlPosition.RIGHT);
    },

    addScript() {
      const script = document.createElement("script");
      /* global kakao */

      script.onload = () => kakao.maps.load(this.initMap);
      script.src =
        "http://dapi.kakao.com/v2/maps/sdk.js?autoload=false&appkey=8c75815e374c91afe9978878c6ddf186";
      document.head.appendChild(script);
    },

    addMarker(data) {
      // 기존 마커 지우기
      this.hideMarkers();
      var listEl = document.getElementById("menu_wrap");
      listEl.style.display = "none";

      // 지도를 재설정할 범위정보를 가지고 있을 LatLngBounds 객체를 생성
      var bounds = new kakao.maps.LatLngBounds();

      var imageSrc = "img/marker.png",
        imageSize = new kakao.maps.Size(64, 69), // 마커이미지의 크기입니다
        imageOption = { offset: new kakao.maps.Point(34, 86) }; // 마커이미지의 옵션입니다. 마커의 좌표와 일치시킬 이미지 안에서의 좌표를 설정합니다.

      // 마커의 이미지정보를 가지고 있는 마커이미지를 생성합니다
      var markerImage = new kakao.maps.MarkerImage(
        imageSrc,
        imageSize,
        imageOption
      );

      for (var i = 0; i < data.length; i++) {
        // 마커 생성
        var marker = new kakao.maps.Marker({
          map: this.map,
          position: new kakao.maps.LatLng(data[i].lat, data[i].lng),
          title: data[i].aptName,
          image: markerImage
        });  

        kakao.maps.event.addListener(marker, "click", function() {
          var detailEl = document.getElementById("menu_wrap");
          detailEl.style.display = "inline";

          var listEl = document.getElementById("placesList");
          listEl.innerHTML = "";
          var tData = store.state.transactionList;
          var aptName = event.srcElement.title;
          var listStr = "";
          for (var i = 0; i < tData.length; i++) {
            if (aptName === tData[i].aptName) {
              if (tData[i].type === 1 || tData[i].type === 3){
                listStr +=
                  '<li class="item">' + '<span class="bgType1"></span>';
              }
              else {
                listStr +=
                  '<li class="item">' + '<span class="bgType1"></span>';
              }
              listStr +=
                '<div class="info"><h5>' +
                tData[i].aptName +
                "</h5>" +
                '<span class="jibun gray">' +
                tData[i].dong +
                " " +
                tData[i].jibun +
                "</span>" +
                "<span>건축년도 : " +
                tData[i].buildYear +
                "</span>" +
                "<span>면적(㎡) : " +
                tData[i].area +
                "</span>" +
                "</div>" +
                "</li>";
            break;
            }
          }
          for (var j = 0; j < tData.length; j++) {
            if (aptName === tData[j].aptName) {
              listStr +=
                "<li>" +
                "<span>계약일 : " +
                tData[j].dealYear +
                "." +
                tData[j].dealMonth +
                "." +
                tData[j].dealDay +
                " / 거래금액(만원) : " +
                tData[j].dealAmount +
                "</span>" +
                "</li>";
            }
          }
          listEl.innerHTML = listStr;
        });

        this.markers.push(marker);

        // LatLngBounds 객체에 좌표를 추가
        bounds.extend(new kakao.maps.LatLng(data[i].lat, data[i].lng));

        // 커스텀 오버레이에 표출될 내용으로 HTML 문자열이나 document element가 가능합니다
        var content =
          '<div class="customoverlay" id="overlay"+data[i].>' +
          "  <a>" +
          '    <span class="title">' +
          data[i].aptName +
          "</span>" +
          "  </a>" +
          "</div>";

        // 커스텀 오버레이가 표시될 위치입니다
        var position = new kakao.maps.LatLng(data[i].lat, data[i].lng);

        // 커스텀 오버레이를 생성합니다
        var customOverlay = new kakao.maps.CustomOverlay({
          map: this.map,
          position: position,
          content: content,
          yAnchor: 1
        });

        this.overlays.push(customOverlay);
      }

      // 지도 범위 재설정
      this.map.setBounds(bounds);
    },
    test() {
      alert("하하");
    },

    hideMarkers() {
      for (var i = 0; i < this.markers.length; i++) {
        this.markers[i].setMap(null);
        this.overlays[i].setMap(null);
      }
    },

    changeMapTypeTraffic() {
      this.setOverlayMapTypeId("traffic");
    },

    setOverlayMapTypeId(maptype) {
      var changeMaptype;
      var trafficControl = document.getElementById("mapTypeTraffic");
      var roadviewControl = document.getElementById("mapTypeRoadview");
      var terrainControl = document.getElementById("mapTypeTerrain");
      var use_districtControl = document.getElementById("mapTypeUse_district");

      // maptype에 따라 지도에 추가할 지도타입을 결정합니다
      if (maptype === "traffic") {
        // 교통정보 지도타입
        changeMaptype = kakao.maps.MapTypeId.TRAFFIC;
        trafficControl.className = "selected_btn";
        roadviewControl.className = "_btn";
        terrainControl.className = "_btn";
        use_districtControl.className = "_btn";
      } else if (maptype === "roadview") {
        // 로드뷰 도로정보 지도타입
        changeMaptype = kakao.maps.MapTypeId.ROADVIEW;
        trafficControl.className = "_btn";
        roadviewControl.className = "selected_btn";
        terrainControl.className = "_btn";
        use_districtControl.className = "_btn";
      } else if (maptype === "terrain") {
        // 지형정보 지도타입
        changeMaptype = kakao.maps.MapTypeId.TERRAIN;
        trafficControl.className = "_btn";
        roadviewControl.className = "_btn";
        terrainControl.className = "selected_btn";
        use_districtControl.className = "_btn";
      } else if (maptype === "use_district") {
        // 지적편집도 지도타입
        changeMaptype = kakao.maps.MapTypeId.USE_DISTRICT;
        trafficControl.className = "_btn";
        roadviewControl.className = "_btn";
        terrainControl.className = "_btn";
        use_districtControl.className = "selected_btn";
      }

      // 이미 등록된 지도 타입이 있으면 제거합니다
      if (this.currentTypeId) {
        this.map.removeOverlayMapTypeId(this.currentTypeId);
      }

      if (this.currentTypeId === changeMaptype) {
        trafficControl.className = "_btn";
        roadviewControl.className = "_btn";
        terrainControl.className = "_btn";
        use_districtControl.className = "_btn";
        this.currentTypeId = null;
      } else {
        // maptype에 해당하는 지도타입을 지도에 추가합니다
        this.map.addOverlayMapTypeId(changeMaptype);

        // 지도에 추가된 타입정보를 갱신합니다
        this.currentTypeId = changeMaptype;
      }
    }
  }
};
</script>
<style>
#map {
  width: 90%;
  height: 800px;
}
.customoverlay {
  position: relative;
  bottom: 85px;
  border-radius: 6px;
  border: 1px solid #ccc;
  border-bottom: 2px solid #ddd;
  float: left;
}
.customoverlay:nth-of-type(n) {
  border: 0;
  box-shadow: 0px 1px 2px #888;
}
.customoverlay a {
  display: block;
  text-decoration: none;
  color: #000;
  text-align: center;
  border-radius: 6px;
  font-size: 14px;
  font-weight: bold;
  overflow: hidden;
  background: #d95050;
  background: #d95050
    url(https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/arrow_white.png)
    no-repeat right 14px center;
}
.customoverlay .title {
  display: block;
  text-align: center;
  background: #fff;
  margin-right: 35px;
  padding: 10px 15px;
  font-size: 14px;
  font-weight: bold;
}
.customoverlay:after {
  content: "";
  position: absolute;
  margin-left: -12px;
  left: 50%;
  bottom: -12px;
  width: 22px;
  height: 12px;
  background: url("https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/vertex_white.png");
}
.map_wrap {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 900px;
}
.radius_border {
  border: 1px solid #919191;
  border-radius: 5px;
}
.custom_typecontrol {
  position: absolute;
  top: 10px;
  left: 7.5%;
  overflow: hidden;
  width: 263px;
  height: 30px;
  margin: 0;
  padding: 0;
  z-index: 1;
  font-size: 12px;
  font-family: "Malgun Gothic", "맑은 고딕", sans-serif;
}
.custom_typecontrol span {
  display: block;
  width: 65px;
  height: 30px;
  float: left;
  text-align: center;
  line-height: 30px;
  cursor: pointer;
}
.custom_typecontrol ._btn {
  background: #f5f5f5;
  background: linear-gradient(#fff, #e6e6e6);
}
.custom_typecontrol ._btn:hover {
  background: #f5f5f5;
  background: linear-gradient(#f5f5f5, #e3e3e3);
}
.custom_typecontrol ._btn:active {
  background: #e6e6e6;
  background: linear-gradient(#e6e6e6, #fff);
}
.custom_typecontrol .selected_btn {
  color: #fff;
  background: #425470;
  background: linear-gradient(#425470, #5b6d8a);
}
.custom_typecontrol .selected_btn:hover {
  color: #fff;
}

#menu_wrap {
  position: absolute;
  top: 5%;
  right: 10%;
  bottom: 10%;
  width: 280px;
  margin: 10px 0 30px 10px;
  padding: 5px;
  overflow-y: auto;
  background: rgba(255, 255, 255, 0.7);
  z-index: 1;
  font-size: 12px;
  border-radius: 10px;
}
.bg_white {
  background: #fff;
}
#menu_wrap hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 2px solid #5f5f5f;
  margin: 3px 0;
}
#menu_wrap .option {
  text-align: center;
}
#menu_wrap .option p {
  margin: 10px 0;
}
#menu_wrap .option button {
  margin-left: 5px;
}
#placesList li {
  list-style: none;
}
#placesList .item {
  position: relative;
  border-bottom: 1px solid #888;
  overflow: hidden;
  cursor: pointer;
  min-height: 65px;
}
#placesList .item span {
  display: block;
  margin-top: 4px;
}
#placesList .item h5,
#placesList .item .info {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
#placesList .item .info {
  padding: 10px 0 10px 80px;
}
#placesList .info .gray {
  color: #8a8a8a;
}
#placesList .info .jibun {
  padding-left: 26px;
  background: url(https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/places_jibun.png)
    no-repeat;
}
#placesList .info .tel {
  color: #009900;
}
#placesList .item .bgType1 {
  float: left;
  position: absolute;
  width: 60px;
  height: 60px;
  margin: 10px 00px 0 10px;
  background: url(https://img.icons8.com/nolan/64/apartment.png) no-repeat;
}
#placesList .item .bgType2 {
  float: left;
  position: absolute;
  width: 60px;
  height: 60px;
  margin: 10px 00px 0 10px;
  background: url(https://img.icons8.com/nolan/64/cottage.png) no-repeat;
}
</style>