<template>
  <!-- Property info area start -->
  <section id="property-info-area">
    <div class="container">
      <div class="row">
        <div class="info-form">
          <form action="#" method="post">
            <div class="form-fields">
              <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 padding-bottom">
                <div class="single-field">
                  <p>시/도</p>
                  <select-sido v-bind:sidoList="sidoList" v-on:sidoCode="getGugunList"></select-sido>
                </div>
              </div>
              <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 padding-bottom">
                <div class="single-field">
                  <p>시/구/군</p>
                  <select-gugun v-bind:gugunList="gugunList" v-on:gugunCode="getDongList"></select-gugun>
                </div>
              </div>
              <div class="col-sm-3 col-xs-12 padding-bottom">
                <div class="single-field">
                  <p>읍/면/동</p>
                  <select-dong v-bind:dongList="dongList" v-on:dong="setDong"></select-dong>
                </div>
              </div>
            </div>
          </form>
        </div>

        <div class="col-sm-6 col-xs-12">
          <input type="checkbox" id="cb1" value="1" v-model="checked" />
          <label for="cb1">아파트 매매</label>
          <input type="checkbox" id="cb2" value="2" v-model="checked" />
          <label for="cb2">주택 매매</label>
          <input type="checkbox" id="cb3" value="3" v-model="checked" />
          <label for="cb3">아파트 전월세</label>
          <input type="checkbox" id="cb4" value="4" v-model="checked" />
          <label for="cb4">주택 전월세</label>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
          <div class="read-more">
            <button type="button" class="btn btn-success btn-lg" v-on:click="getGeoList">Search</button>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Property info area end -->
</template>

<script>
import SelectSido from "@/components/service/SelectSido.vue";
import SelectGugun from "@/components/service/SelectGugun.vue";
import SelectDong from "@/components/service/SelectDong.vue";
import http from "@/util/http-common";
import store from "@/store/store.js";

export default {
  name: "PropertyInfo",
  components: {
    SelectSido,
    SelectGugun,
    SelectDong
  },
  data: function() {
    return {
      sidoList: [],
      gugunList: [],
      dongList: [],
      dong: "",
      checked: [1, 2, 3, 4]
    };
  },
  created() {
    http
      .get("house/sido")
      .then(({ data }) => {
        this.sidoList = data;
      })
      .catch(() => {
        alert("에러가 발생했습니다.");
      });
  },
  methods: {
    getGugunList: function(sidoCode) {
      http
        .get("house/gugun/" + sidoCode)
        .then(({ data }) => {
          this.gugunList = data;
        })
        .catch(() => {
          alert("에러가 발생했습니다.");
        });
    },
    getDongList: function(gugunCode) {
      http
        .get("house/dong/" + gugunCode)
        .then(({ data }) => {
          this.dongList = data;
        })
        .catch(() => {
          alert("에러가 발생했습니다.");
        });
    },
    setDong: function(dong) {
      this.dong = dong;
    },
    getGeoList: function() {
      http
        .get("house/getGeoList/" + this.dong, {})
        .then(({ data }) => {
          store.state.geoList = null;
          
          store.state.geoList = data;
        })
        .catch(() => {
          alert("에러가 발생했습니다.");
        });
      http
        .get("house/getTransactionList/" + this.dong + "/" + this.checked)
        .then(({ data }) => {
          store.state.transactionList = data;
        })
        .catch(() => {
          alert("에러가 발생했습니다.");
        });
    }
  }
};
</script>

<style>
.boxes {
  margin: auto;
  padding: 50px;
  background: #484848;
}

/*Checkboxes styles*/
input[type="checkbox"] { 
  display: none;
  padding-right: 20px;
 }

input[type="checkbox"] + label {
  display: inline;
  position: relative;
  padding-left: 35px;
  margin-right: 20px;
  font: 14px/20px 'Open Sans', Arial, sans-serif;
  color: #222;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

input[type="checkbox"] + label:last-child { margin-bottom: 0; }

input[type="checkbox"] + label:before {
  content: '';
  display: block;
  width: 20px;
  height: 20px;
  border: 1px solid #6cc0e5;
  position: absolute;
  left: 0;
  top: 0;
  opacity: .6;
  -webkit-transition: all .12s, border-color .08s;
  transition: all .12s, border-color .08s;
}

input[type="checkbox"]:checked + label:before {
  width: 10px;
  top: -5px;
  left: 5px;
  border-radius: 0;
  opacity: 1;
  border-top-color: transparent;
  border-left-color: transparent;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
</style>
