<template>
  <div class="input-box">
    <select v-model="selected">
      <option selected disabled>선택</option>
      <option
        v-for="(sido, index) in sidoList"
        :key="`${index}_items`"
        :value="sido.sido_code"
      >{{ sido.sido_name }}</option>
    </select>
  </div>
</template>
<script>
export default {
  name: "SelectSido",
  data: function() {
    return {
      selected: "선택"
    };
  },
  props: {
    sidoList: Array
  },
  watch: {
    selected: function(value){
        this.$emit('sidoCode',value);
    }
  }
};
</script>
