<template>
  <div class="input-box">
    <select v-model="selected">
      <option selected disabled>선택</option>
      <option
        v-for="(dong, index) in dongList"
        :key="`${index}_items`"
        :value="dong.dong"
      >{{ dong.dong }}</option>
    </select>
  </div>
</template>
<script>
export default {
  name: "SelectGugun",
  data: function() {
    return {
      selected: "선택"
    };
  },
  props: {
    dongList: Array
  },
  watch: {
    selected: function(value){
        this.$emit('dong',value);
    }
  }
};
</script>
