<template>
  <div class="input-box">
    <select v-model="selected">
      <option selected disabled>선택</option>
      <option
        v-for="(gugun, index) in gugunList"
        :key="`${index}_items`"
        :value="gugun.gugun_code"
      >{{ gugun.gugun_name }}</option>
    </select>
  </div>
</template>
<script>
export default {
  name: "SelectGugun",
  data: function() {
    return {
      selected: "선택"
    };
  },
  props: {
    gugunList: Array
  },
  watch: {
    selected: function(value){
        this.$emit('gugunCode',value);
    }
  }
};
</script>
