<template>
  <section class="real-estate-area">
    <div class="row">
      <div class="col-md-12">
        <div class="section-title text-center">
          <h2>NOTICE</h2>
        </div>
        <div class="section-separator text-center">
          <img src="img/Hexo-LTD-dens.png" alt />
          <i class="fa fa-th-large"></i>
          <img src="img/Hexo-LTD-dens.png" alt />
        </div>
        <!-- 코드 들어갈 부분 -->
        삭제중...
      </div>
    </div>
  </section>
</template>

<script>
import http from '@/util/http-common';

export default {
  name: 'delete',
  created() {
    http
      .delete(`/notice/${this.$route.query.noticeId}`)
      .then(({ data }) => {
        let msg = '삭제 처리시 문제가 발생했습니다.';
        if (data === 'success') {
          msg = '삭제가 완료되었습니다.';
        }
        alert(msg);
        this.$router.push('/notice');
      })
      .catch(() => {
        alert('삭제 처리시 에러가 발생했습니다.');
      });
  },
};
</script>

<style></style>
