<template>
  <section class="real-estate-area">
    <div class="row">
      <div class="col-md-12">
        <div class="section-title text-center">
          <h2>NOTICE</h2>
        </div>
        <div class="section-separator text-center">
          <img src="img/Hexo-LTD-dens.png" alt />
          <i class="fa fa-th-large"></i>
          <img src="img/Hexo-LTD-dens.png" alt />
        </div>
        <!-- 코드 들어갈 부분 -->
        <detail/>
      </div>
    </div>
  </section> 
</template>

<script>
import store from "@/store/store.js";
import Detail from '@/components/Detail.vue';

export default {
  name: 'read',
  components: {
    Detail,
  },
  created() {
    store.dispatch('getItem', `/notice/${this.$route.query.noticeId}`);
  }
};
</script>

<style></style>