<template>
  <section class="real-estate-area">
    <div class="row">
      <div class="col-md-12">
        <div class="section-title text-center">
          <h2>NOTICE</h2>
        </div>
        <div class="section-separator text-center">
          <img src="img/Hexo-LTD-dens.png" alt />
          <i class="fa fa-th-large"></i>
          <img src="img/Hexo-LTD-dens.png" alt />
        </div>
        <!-- 코드 들어갈 부분 -->
        <update-form type="update" />
      </div>
    </div>
  </section>
 
</template>

<script>
import UpdateForm from '@/components/Form.vue';
export default {
  name: 'update',
  components: {
    UpdateForm,
  },
};
</script>

<style></style>
