<template>
  <div>
    <div class="border1-area"></div>
    <div class="border2-area"></div>
    <div class="border3-area"></div>
  </div>
</template>

<script>
export default {
  name: "BorderArea"
};
</script>

<style></style>
