<template>
  <!-- Main slider area start -->
  <section id="slider" class="slider-area">
    <!-- slider -->
    <div class="bend niceties preview-2">
      <div id="ensign-nivoslider" class="slides">
        <img src="img/slider/slide1.jpg" alt="" title="#slider-direction-1" />
        <img src="img/slider/slide2.jpg" alt="" title="#slider-direction-2" />
      </div>
      <!-- direction 1 -->
      <div id="slider-direction-1" class="t-cn slider-direction">
        <div class="slider-content t-cn s-tb slider-1">
          <div class="title-container s-tb-c title-compress">
            <div class="content content-bg-1 text-entry">
              <div class="slider-fashion border-p">
                <h2>Find Your Dreamy House</h2>
              </div>
              <div class="text typography-block">
                HappyHouse provide service that house transaction information
                across the country based on Ministry of Land, Infrastructure and Transport.
              </div>
              <router-link to="/Service" class="button">
              Find Now!
              </router-link>
            </div>
          </div>
        </div>
      </div>
      <!-- direction 2 -->
      <div id="slider-direction-2" class="slider-direction">
        <div class="slider-content t-cn s-tb slider-2">
          <div class="title-container s-tb-c">
            <div class="content content-bg-2 text-entry margin-left">
              <div class="slider-fashion border-p2">
                <h2>What house do you want?</h2>
              </div>
              <div class="text typography-block">
                HappyHouse help you can find the house you want with information
                based on Ministry of Land, Infrastructure and Transport.
              </div>
              <router-link to="/Service" class="button">
              Find Now!
              </router-link>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- slider end-->
  </section>
  <!-- Main slider area end -->
</template>

<script>
export default {
  name: "MainSlider"
};
</script>

<style></style>
