<template>
  <!-- Property info area start -->
  <section id="property-info-area">
    <div class="container">
      <div class="row">
        <div class="info-form">
          <form action="#" method="post">
            <div class="form-fields">
              <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 padding-bottom">
                <div class="single-field">
                  <p>Max Of Bedrooms</p>
                  <div class="input-box">
                    <select>
                      <option value selected="selected">Any</option>
                      <option value>1</option>
                      <option value>2</option>
                      <option value>3</option>
                      <option value>4</option>
                      <option value>5</option>
                      <option value>6</option>
                      <option value>7</option>
                    </select>
                  </div>
                </div>
              </div>
              <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 padding-bottom">
                <div class="single-field">
                  <p>Max Of Bathrooms</p>
                  <div class="input-box">
                    <select>
                      <option value selected="selected">Any</option>
                      <option value>1</option>
                      <option value>2</option>
                      <option value>3</option>
                      <option value>4</option>
                      <option value>5</option>
                      <option value>6</option>
                      <option value>7</option>
                    </select>
                  </div>
                </div>
              </div>
              <div class="col-sm-3 col-xs-12 padding-bottom">
                <div class="single-field">
                  <p>Min Area(Sqft)</p>
                  <div class="input-box">
                    <select>
                      <option value selected="selected">Any</option>
                      <option value>100 Sqft</option>
                      <option value>150 Sqft</option>
                      <option value>200 Sqft</option>
                      <option value>250 Sqft</option>
                      <option value>300 Sqft</option>
                      <option value>350 Sqft</option>
                      <option value>400 Sqft</option>
                      <option value>450 Sqft</option>
                      <option value>500 Sqft</option>
                    </select>
                  </div>
                </div>
              </div>
              <div class="col-sm-3 col-xs-12 padding-bottom">
                <div class="single-field">
                  <p>Max Area(Sqft)</p>
                  <div class="input-box">
                    <select>
                      <option value selected="selected">Any</option>
                      <option value>100 Sqft</option>
                      <option value>150 Sqft</option>
                      <option value>200 Sqft</option>
                      <option value>250 Sqft</option>
                      <option value>300 Sqft</option>
                      <option value>350 Sqft</option>
                      <option value>400 Sqft</option>
                      <option value>450 Sqft</option>
                      <option value>500 Sqft</option>
                    </select>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
        <div class="col-sm-6 col-xs-12">
          <!-- shop-filter start -->
          <div class="price_filter">
            <h3>Priceing Range</h3>
            <div id="product-range"></div>
          </div>
          <!-- shop-filter end -->
        </div>
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
          <input
            type="text"
            id="amount"
            readonly
            style="border:0; color:#3299dc; font-weight:bold;"
          />
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
          <div class="read-more">
            <button type="button" class="btn btn-success btn-lg">Search</button>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Property info area end -->
</template>

<script>
export default {
  name: "PropertyInfo"
};
</script>

<style></style>
