<template>
  <!-- Real eatate area start -->
  <section id="about-real-estate" class="real-estate-area">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="section-title text-center">
            <h2>HappyHouse</h2>
          </div>
          <div class="section-separator text-center">
            <img src="img/Hexo-LTD-dens.png" alt />
            <i class="fa fa-th-large"></i>
            <img src="img/Hexo-LTD-dens.png" alt />
          </div>
          <div class="section-content text-center"></div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <div class="our-story">
            <h3>가장 많이 본 뉴스</h3>
            <h5>- 가장 많이 본 뉴스는 주간 조회수가 높은 기사를 선정하여 제공합니다.</h5>
            <table id="news" class="type06">
            </table>
            <div class="col-sm-6">
              <div class="story-video">
                <h3>주택 매매 거래량 추이</h3>
                <img src="https://rt.molit.go.kr/images/main/graph_01.png" />
              </div>
            </div>
            <div class="col-sm-6">
              <div class="story-video">
                <h3>주택 전월세 거래량 추이</h3>
                <img src="https://rt.molit.go.kr/images/main/graph_02.png" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Real eatate area end -->
</template>

<script>
import http from "@/util/http-common";
export default {
  name: "RealEstate",
  created() {
    http
      .get("/house/web")
      .then(({ data }) => {
        console.log(data);
        // element 받아와서
        var tableEl = document.getElementById("news");
        var trStr = "";
        for (var i = 0; i < 5; i++) {
          trStr +=
            '<tr class="line"><td class="pic" rowspan="2">'+(i+1)+'<img src=' +
            data[i][0] +
            '></td><td><a href="https://land.naver.com'+data[i][3]+'" target="_blank"><h3>' +
            data[i][1] +
            '</h3></a></td></tr><tr><td>' +
            data[i][2] +
            '</td></tr></a>';

        }
        tableEl.innerHTML = trStr;
      })
      .catch(() => {
        alert("에러가 발생했습니다.");
      });
  }
};
</script>

<style>
table.type06 {
    border-collapse: collapse;
    text-align: left;
    line-height: 1.5;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    margin: 20px 10px;
}
table.type06 td {
    /* width: 150px; */
    padding: 10px;
    font-weight: bold;
    vertical-align: top;
}
table.type06 td {
    /* width: 350px; */
    padding: 10px;
    vertical-align: top;
}
.line{
  border-top:1px solid #ccc;
}
</style>
