<template>
  <!-- Main slider fixed area start -->
  <section class="slider-fixed-area">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="dream-home">
            <h3>FIND YOUR DREAM HOME</h3>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Main slider fixed area end -->
</template>

<script>
export default {
  name: "SlideFix"
};
</script>

<style></style>
