<template>
  <!-- Real eatate area start -->
  <section id="about-real-estate" class="real-estate-area">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="section-title text-center">
            <h2>About HappyHouse</h2>
          </div>
          <div class="section-separator text-center">
            <img src="img/Hexo-LTD-dens.png" alt />
            <i class="fa fa-th-large"></i>
            <img src="img/Hexo-LTD-dens.png" alt />
          </div>
          <div class="section-content text-center">
            <p>
              국토교통부의 실거래가 공개데이터를 기반으로 선택한 지역 주변의 모든 실거래가 정보를 제공하는 시스템입니다.
            </p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6">
          <div class="our-story">
            <h3>매매 공개 대상</h3>
            <p class="para-margin">
              매매 실거래 공개는 <b style="color:red">2006년 1월</b>부터 부동산거래신고 및 주택거래신고를 한
              주택(아파트, 연립/다세대, 단독/다가구), 오피스텔, 토지, 상업·업무용 부동산 및
              2007년 6월 29일 이후 체결된 아파트 분양/입주권을 대상으로 하고 있습니다.
            </p>
            <h3>전월세 공개 대상</h3>
            <p>
              전월세가 실거래가 공개는 <b style="color:red">2011년 1월</b>부터 읍·면·동주민센터 및 일부 공개 가능한 대법원 등기소의
              주택(아파트, 연립/다세대, 단독/다가구, 오피스텔) 확정일자 자료를 대상으로 하고있습니다.
            </p>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="story-video">
            <a href="#">
              <img src="img/video.jpg" alt="image" />
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Real eatate area end -->
</template>

<script>
export default {
  name: "RealEstate"
};
</script>

<style></style>
