<template>
  <div class="about">
    <about-about/>
  </div>
</template>

<script>
// @ is an alias to /src
import AboutAbout from "@/components/about/About.vue";

export default {
  name: "About",
  components: {
    AboutAbout
  },
};
</script>
