<template>
  <div class="home">
    <main-slider/>
    <slide-fix/>
    <border-area/>
    <real-estate/>
  </div>
</template>

<script>
// @ is an alias to /src
import MainSlider from "@/components/home/MainSlider.vue";
import SlideFix from "@/components/home/SlideFix.vue";
import BorderArea from "@/components/home/BorderArea.vue";
import RealEstate from "@/components/home/RealEstate.vue";

export default {
  name: "Home",
  components: {
    MainSlider,
    SlideFix,
    BorderArea,
    RealEstate
  },
};
</script>
