<template>
  <section class="real-estate-area">
    <div class="row">
      <div class="col-md-12">
        <div class="section-title text-center">
          <h2>NOTICE</h2>
        </div>
        <div class="section-separator text-center">
          <img src="img/Hexo-LTD-dens.png" alt />
          <i class="fa fa-th-large"></i>
          <img src="img/Hexo-LTD-dens.png" alt />
        </div>
        <!-- 코드 들어갈 부분 -->
        <table class="table" style="width: 60%;" align="center">
          <colgroup>
            <col :style="{ width: '5%'  }" />
            <col :style="{ width: '50%' }" />
            <col :style="{ width: '15%' }" />
            <col :style="{ width: '20%' }" />
            <col :style="{ width: '10%' }" />
          </colgroup>
          <thead>
            <tr>
              <th>#</th>
              <th>제목</th>
              <th>작성자</th>
              <th>작성일시</th>
              <th>조회수</th>
            </tr>
          </thead>
          <tbody>
            <list-row
              v-for="(item, index) in items"
              :key="`${index}_items`"
              :notice_Id="item.noticeId"
              :title="item.title"
              :user_Name="item.userName"
              :reg_Dt="item.regDt"
              :read_Count="item.readCount"
            />
          </tbody>
          <button class="btn btn-primary" @click="movePage">등록</button>
        </table>
        <div id="paginationWrapper"></div>
        <!-- 코드 들어갈 부분 -->
      </div>
    </div>
  </section>
</template>

<script>
import http from "@/util/http-common";
import store from "@/store/store.js";
import { mapGetters } from "vuex";
import ListRow from "@/components/Row.vue";

export default {
  name: "list",
  data() {
    return {
      notice_Id: "",
      user_Name: "",
      title: "",
      content: "",
      reg_Dt: "",
      read_Count: "",
      noticeList: []
    };
  },
  components: {
    ListRow
  },
  computed: {
    ...mapGetters(["items"])
  },
  created() {
    store.dispatch("getItems");
  },
  methods: {
    getNoticeList() {
      http
        .post("/notice", {})
        .then(data => {
          console.log(data);

          // 오류 코드 this in promise-then()
          // Uncaught (in promise) TypeError
          //this.$router.push('/About')
        })
        .catch(error => {
          alert("공지사항 목록을 불러오는데 실패하였습니다.");
          console.log(error.config);
        });
    },
    movePage() {
      this.$router.push("/create");
    }
  }
};
</script>

<style lang="stylus"></style>