<template>
  <section class="real-estate-area">
    <div class="row">
      <div class="col-md-12">
        <div class="section-title text-center">
          <h2>Q&A</h2>
        </div>
        <div class="section-separator text-center">
          <img src="img/Hexo-LTD-dens.png" alt />
          <i class="fa fa-th-large"></i>
          <img src="img/Hexo-LTD-dens.png" alt />
        </div>
        <!-- 코드 들어갈 부분 -->
        <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
      </div>
    </div>
  </section>
</template>
<script>
export default {
};
</script>
