<template>
  <section class="real-estate-area">
    <div>
      <div class="row">
        <div class="col-md-12">
          <div class="section-title text-center">
            <h2>Service</h2>
          </div>
          <div class="section-separator text-center">
            <img src="img/Hexo-LTD-dens.png" alt />
            <i class="fa fa-th-large"></i>
            <img src="img/Hexo-LTD-dens.png" alt />
          </div>
          <!-- 코드 들어갈 부분 -->
          <property-info />
          <map-info />
          <!-- 코드 들어갈 부분 -->
        </div>
      </div>
    </div>
  </section>
</template>
<script>
import PropertyInfo from "@/components/service/PropertyInfo.vue";
import MapInfo from "@/components/service/Map.vue";
export default {
  name: "Service",
  components: {
    PropertyInfo,
    MapInfo
  }
};
</script>
<style>
</style>